<<html>
    <head>
        <title>{{title}}</title>
        
    </head>
    
    <body>
        <form action="/show_movies" method="POST">
        <p>Please enter the movie name, year, and imdb.com url into the form.</p>
        <p> Movie name
            <input type="text" name="name">
        </p>
        <p> Movie year
            <input type=number name="year" />
        </p>
        <p>
            <input type="text" name="url" />
        </p>
        
        <input type="submit" value="Submit"/>
        </form>
        
    </body>
    </html>
